{% extends 'base.html' %}

{% block header %}Dashboard{% endblock %}

{% block content %}
<div class="div-flex" style="display: flex;align-items: center; justify-content: right;">
    <a href="{% url 'logout' %}"><button class="btn btn-primary" type="button">Log Out</button></a>
</div>
<br>
<div>
    <table class="table table-bordered" style="padding-top: 10px;">
        <thead>
            <tr>
                <th>Total cost</th>
                <th> £ {{ total_cost }}</th>
            </tr>
        </thead>
    </table>
</div>


<a href="{% url 'dashboard' %}"><button class="btn btn-primary" type="button">Back</button></a>

{% endblock %}